In [1]:
import pandas as pd
import tensorflow as tf
from sklearn import preprocessing
import numpy as np
from tensorflow import keras
from tensorflow.keras import layers

In [2]:
feature = pd.read_csv('C:/Users/guisg/features2.csv')
target = pd.read_csv('C:/Users/guisg/target2.csv')

In [3]:
feature = feature.fillna(0)

In [4]:
target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  30000 non-null  int64
 1   0           30000 non-null  float64
 2   1           30000 non-null  float64
 3   2           30000 non-null  float64
 4   3           30000 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 1.1 MB

In [5]:
feature.tail()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,994,995,996,997,998,999,1000,1001,1002,1003
29995,0,-0.053435,-0.016971,0.002518,-0.037389,0.054839,0.043160,0.019255,0.035222,0.039755,...,-0.005496,-0.004962,-0.015177,-0.000938,-0.008127,-0.009335,0.010712,0.007277,-0.000656,0.003743
29996,0,-0.022556,-0.016090,-0.045114,0.001408,0.030177,0.047076,0.047356,0.003691,-0.005744,...,0.005147,0.007419,-0.002320,0.000218,-0.010042,-0.000961,0.003830,0.003268,0.002922,0.011058
29997,0,-0.045144,-0.028484,-0.006651,-0.005337,0.040822,0.053786,0.050215,0.024375,0.018227,...,-0.002739,-0.001074,-0.007069,-0.011650,0.005492,-0.009409,0.005490,0.000659,0.000000,0.008005
29998,0,-0.010260,-0.032264,-0.022200,-0.001150,0.041972,0.048001,0.029116,0.012307,0.028391,...,0.001853,0.000933,-0.004643,-0.008568,-0.007168,-0.016279,0.000897,0.004082,0.005822,0.008384
29999,0,-0.023209,-0.039325,0.003329,-0.032456,0.022068,0.041657,0.033842,0.049331,0.006545,...,-0.004418,-0.010565,-0.008081,-0.004268,-0.002959,-0.004418,-0.011046,-0.009001,0.000989,-0.001849

In [6]:
target.tail()

       Unnamed: 0         0         1         2         3
29995        3425  0.146897  0.001303  0.271106  0.580695
29996        3361  0.328613  0.007165  0.571839  0.092383
29997        3250  0.000807  0.578682  0.206869  0.213642
29998        4386  0.196171  0.630992  0.172599  0.000239
29999         784  0.449743  0.343557  0.204409  0.002291

In [7]:
target['Unnamed: 0'].describe()

count    30000.000000
mean      2488.471767
std       1442.660441
min          0.000000
25%       1243.000000
50%       2483.000000
75%       3739.000000
max       4999.000000
Name: Unnamed: 0, dtype: float64

In [8]:
target.drop('Unnamed: 0', axis=1, inplace=True)

In [9]:
#SeparaÃ§Ã£o entre Train e Test

feature_train = feature[:-6000]
target_train = target[:-6000]

feature_test = feature[-6000:]
target_test = target[-6000:]

In [10]:
feature_train = feature_train.to_numpy()
target_train = target_train.to_numpy()

In [11]:
feature_test = feature_test.to_numpy()
target_test = target_test.to_numpy()

In [12]:
from tensorflow import keras
from tensorflow.keras import layers

In [13]:
# CriaÃ§Ã£o do modelo sequencial
model = tf.keras.models.Sequential()

# Quantidade de features
ncols = len(feature.columns)

# Primeira e segunda camadas com ativaÃ§Ã£o ReLU
model.add(tf.keras.layers.Dense(512, activation='relu', input_shape=(ncols,)))
model.add(tf.keras.layers.Dense(512, activation='relu'))
model.add(tf.keras.layers.Dense(150, activation='relu'))

# Camada final
# funÃ§Ã£o de ativaÃ§Ã£o 'sigmoid' garante 4 saÃ­das
model.add(tf.keras.layers.Dense(4, activation='sigmoid'))

# Compilamos a rede neural utilizando o otimizador 'SGD', um dos vÃ¡rios disponÃ­veis na biblioteca
opt = keras.optimizers.SGD(learning_rate=0.01)
model.compile(optimizer='adam', loss='mse', metrics=['accuracy'])

# Realizamos o treino da rede neural com 10 treinamentos e guardando 20% dos dados para validaÃ§Ã£o
results = model.fit(feature_train, target_train, epochs=10, validation_split = 0.2)

WARNING:tensorflow:From C:\Users\guisg\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
Train on 19200 samples, validate on 4800 samples
Epoch 1/10
19200/19200 [==============================] - 7s 382us/sample - loss: 0.0300 - acc: 0.6193 - val_loss: 0.0211 - val_acc: 0.6967
Epoch 2/10
19200/19200 [==============================] - 7s 352us/sample - loss: 0.0175 - acc: 0.7341 - val_loss: 0.0168 - val_acc: 0.7331
Epoch 3/10
19200/19200 [==============================] - 7s 361us/sample - loss: 0.0129 - acc: 0.7811 - val_loss: 0.0139 - val_acc: 0.7723
Epoch 4/10
19200/19200 [==============================] - 7s 343us/sample - loss: 0.0100 - acc: 0.8178 - val_loss: 0.0124 - val_acc: 0.7835
Epoch 5/10
19200/19200 [==============================] - 7s 342us/sample - loss: 0.0084 - acc: 0.8359 - val_loss: 0.0121 - val_acc: 0.7896
Epoch 6/10
19200/19200 [==============================] - 7s 355us/sample - loss: 0.0071 - acc: 0.8543 - val_loss: 0.0128 - val_acc: 0.7783
Epoch 7/10
19200/19200 [==============================] - 7s 360us/sample - loss: 0.0058 - acc: 0.8707 - val_loss: 0.0127 - val_acc: 0.7860
Epoch 8/10
19200/19200 [==============================] - 7s 357us/sample - loss: 0.0044 - acc: 0.8867 - val_loss: 0.0123 - val_acc: 0.7967
Epoch 9/10
19200/19200 [==============================] - 7s 353us/sample - loss: 0.0032 - acc: 0.9004 - val_loss: 0.0124 - val_acc: 0.7892
Epoch 10/10
19200/19200 [==============================] - 7s 344us/sample - loss: 0.0026 - acc: 0.9064 - val_loss: 0.0125 - val_acc: 0.7879

In [14]:
prediction = model.predict(feature_test)

In [15]:
model.evaluate(feature_test, target_test)

6000/6000 [==============================] - 1s 84us/sample - loss: 0.0130 - acc: 0.7903

[0.01300317959052821, 0.79033333]

In [16]:
prediction

array([[0.17147323, 0.48742047, 0.13641712, 0.14194584],
       [0.10357526, 0.33376566, 0.5287875 , 0.05536321],
       [0.17079967, 0.64510196, 0.00331491, 0.16869894],
       ...,
       [0.02313647, 0.5793513 , 0.19484892, 0.23027241],
       [0.19481876, 0.5313501 , 0.2132853 , 0.0604817 ],
       [0.43928605, 0.3966961 , 0.1373479 , 0.02753109]], dtype=float32)

In [17]:
prediction = pd.DataFrame(prediction)

In [18]:
prediction.head()

          0         1         2         3
0  0.171473  0.487420  0.136417  0.141946
1  0.103575  0.333766  0.528787  0.055363
2  0.170800  0.645102  0.003315  0.168699
3  0.096905  0.039992  0.281763  0.583633
4  0.400029  0.539091  0.001496  0.056447

In [19]:
prediction.tail()

             0         1         2         3
5995  0.141360  0.035947  0.187570  0.669984
5996  0.379448  0.021031  0.532460  0.040359
5997  0.023136  0.579351  0.194849  0.230272
5998  0.194819  0.531350  0.213285  0.060482
5999  0.439286  0.396696  0.137348  0.027531

In [62]:
def pesos(df):
    
    pesos = pd.DataFrame()
    l = len(df)
    t = 0
    
    for t in range(0,l+1):
        
        if t < l:
            
            s = df.iloc[t, 0] + df.iloc[t, 1] + df.iloc[t, 2] + df.iloc[t, 3]
            
            w1 = df.iloc[t, 0]/s
        
            w2 = df.iloc[t, 1]/s
            
            w3 = df.iloc[t, 2]/s
            
            w4 = df.iloc[t, 3]/s
            
            row = pd.Series([w1, w2, w3, w4])
            row_df = pd.DataFrame([row])
            pesos = pd.concat([row_df, pesos], ignore_index=True)
            
            t = t + 1
            
        if t == l+1:
            break
            
    return pesos

In [63]:
pesos = pesos(prediction)

In [64]:
pesos.head()

          0         1         2         3
0  0.438908  0.396355  0.137230  0.027507
1  0.194831  0.531384  0.213299  0.060486
2  0.022515  0.563786  0.189614  0.224086
3  0.389858  0.021608  0.547068  0.041466
4  0.136598  0.034736  0.181251  0.647415

In [72]:
pesos = pesos.sort_index(ascending = False)

In [76]:
pesos.reset_index(drop=True, inplace=True)

In [77]:
pesos.head()

          0         1         2         3
0  0.182952  0.520050  0.145549  0.151448
1  0.101396  0.326743  0.517662  0.054198
2  0.172889  0.652993  0.003355  0.170763
3  0.096684  0.039901  0.281118  0.582297
4  0.401207  0.540679  0.001500  0.056614